
  a:hover { color:green;}
  body{
    display: flex; 
   flex-direction: column;
  justify-content: flex-end;
  
  }
  main {
    display: flex;
    flex: auto;
    background-color: rgb(253, 194, 240);
    flex-direction: row;
  }
  aside{
    display: flex;
    flex: 1;
    background-color: rgba(97, 97, 235, 0.596);
  }
  article{
    display: flex;
    flex-direction:column ;
    flex: 3;
  }

  header{
    display: flex;
    display: flex;
    justify-content:center;
    background-color: bisque;
      }   
footer{
  display: flex;
  justify-content:center;
    }
